.container{
	padding-top: 100px;
	padding-left:  300px;
	
}

.col{
	margin-top: 150px;
}
body{
	background-color: #ccc1ee;
}

h1{
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: underline;
}


